<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robertarnold.audiomanager">

    <application
        android:allowBackup="true"
        android:label="Audio Manager"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AudioManager">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Audio Manager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
